
	<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization&.js"></script>

	<script>
      // Adding 500 Data Points
      var map;
      var heatmaps = [];
	

		function loadData() {
		    var layers = [[],[],[],[],[],[]];

		    $.ajax({
		      url: 'creditreject.json',
		      async: false,
		      dataType: 'json',
		      success: function (data) {
		        for (var i=0; i<data.length; i++) {
		          var datapoint = data[i];
		          var layer;

		          if(datapoint.fifo < 600)
		          	layer = 0;
		          else if(datapoint.fifo < 650)
		          	layer = 1;
		          else if(datapoint.fifo < 700)
		          	layer = 2;
		          else if(datapoint.fifo < 750)
		          	layer = 3;
		          else if(datapoint.fifo < 800)
		          	layer = 4;
		          else layer = 5;

		          layers[layer].push({
		            location: new google.maps.LatLng(datapoint.latitude, datapoint.longitude),
		            weight: datapoint.weight,
		            layerID: layer
		          });
		        }
		      }
		    });
		    return layers;
		  }

      function initialize() {
        var mapOptions = {
          zoom: 4,
          center: new google.maps.LatLng(38.82, -99.408660),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var layers = loadData();

        for (var i=0; i<layers.length; i++) {
          heatmaps[i] = new google.maps.visualization.HeatmapLayer({
          	data: layers[i]
        	});
          heatmaps[i].setMap(map);
      	}
	}

	//FUNCTION TO UPDATE LAYERS
	function updateMap(layer, checked) {
	   if (checked) {
		  layer.setMap(map);
	   } else {
		  layer.setMap(null);
	   }
	} 
	    /* Table initialisation */
    $(document).ready(function() {
      initialize();
    } );
    </script>

    <div class="row">
        <div class="span12" style="float: none; margin: 0 auto;">
		  <h3>Credit Rejections by FICO Band</h3>
			<input type='checkbox' value='0' onclick="updateMap(heatmaps[this.value], this.checked);" checked="checked" />
			<span style="width:100px;display:inline-block;"><600</span>
			<input type="checkbox" value="1" onclick="updateMap(heatmaps[this.value], this.checked);" checked="checked" />
			<span style="width:100px;display:inline-block;">600-649</span>
			<input type="checkbox" value="2" onclick="updateMap(heatmaps[this.value], this.checked);" checked="checked" />
			<span style="width:100px;display:inline-block;">650-699</span>
			<input type="checkbox" value="3" onclick="updateMap(heatmaps[this.value], this.checked);" checked="checked" />
			<span style="width:100px;display:inline-block;">700-749</span>
			<input type="checkbox" value="4" onclick="updateMap(heatmaps[this.value], this.checked);" checked="checked" />
			<span style="width:100px;display:inline-block;">750-799</span>
			<input type="checkbox" value="5" onclick="updateMap(heatmaps[this.value], this.checked);" checked="checked" />
			<span style="width:100px;display:inline-block;">800+</span>
			<br><br/>
			<div id="map-canvas" style="height: 575px; width: 1000px;"></div>
        </div>
    </div>
